* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

h1, h2 {
  margin: 0;
}

ul {
  list-style-type: none;
}

.x-text-center {
  text-align: center;
}
//Анимация смены страницы
.page-enter-active,
.page-leave-active {
  transition: opacity .3s;
}

.page-enter,
.page-leave-active {
  opacity: 0;
}
